@import "tailwindcss";

/* TURN on HOVER FOR TOUCH SCREEN */
@custom-variant hover (&:hover);

@layer components {
  .bg-app-bg {
    background-image: linear-gradient(0deg, #accbee 0, #e7f0fd);

    /* TODO add to vars */
    @variant dark {
      background-image: radial-gradient(at 50% 100%, #393964 0, #000 100%);
      background-image: radial-gradient(at 50% 100%, #2c2c2e 0, #000 100%)
    }
  }

  .particles {
      background-image: radial-gradient(
      hsl(180, 1%, 27%),
      hsl(180, 2%, 12%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );
    @variant dark {
      /* background-image: radial-gradient(
        hsl(180, 100%, 80%),
        hsl(180, 100%, 80%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      ); */
      background-image: radial-gradient(hsl(0deg 0% 100%), hsl(0deg 0% 91.54%) 10%, hsla(180, 100%, 80%, 0) 56%)
    }
  }

  .welcome-text {
    /* background: linear-gradient(90deg, #C400FF 46.15%, #05FBFF 75%, #00FF7B 98.08%); */
    background: linear-gradient(90deg, #C400FF 10%, #ff5050 98%);
    

    @variant dark {
      background: linear-gradient(90deg, #05FBFF 75%, #00FF7B 98.08%);
    }
  }
  .nav-borders {
    &:after {
      background-image: url(./assets/images/border-light-left.png);
    }
    &:before {
      background-image: url(./assets/images/border-light-right.png);
    }
    @variant dark {
      &:after {
        background-image: url(./assets/images/border.png);
      }
      &:before {
        background-image: url(./assets/images/border-right.png);
      }
    }
  }

}


/* UPDATE THEME */
@theme {
  /* COLORS */
  --color-purp: #8C52FF;
  --color-out: #001B85;
  --color-tron: oklch(0.8653 0.147544 204.0171);
  --color-black-dull: #1e1e1d;
  --color-white-dull: rgba(250,249,246,0.7);

  /* ANIMATE */
  --animate-fade-in: fade-in 0.5s .05s ease-in forwards;
  --animate-fade-in-delay: fade-in 0.5s 1s ease-in;
  --animate-fade-in-delay-2: fade-in 0.5s 2s ease-in;
  --animate-fade-out: fade-out 0.5s  cubic-bezier(.44,.32,.13,.75);
  --animate-float: float 2.5s infinite alternate linear; 
  --animate-pulse-glow: pulse-shadow 2s infinite ease-in-out;
  --animate-background-move: background-move 10s linear infinite alternate;
  --animate-border-pulse: border-pulse 2s linear infinite alternate;
  --animate-border-pulse-dark: border-pulse-dark 2s linear infinite alternate;
  --animate-shake: 0.8s shake 2 alternate;

  /* * update or remove this stagger line */
  --transition-stagger: all .3s cubic-bezier(0.47, 0, 0.745, 0.715);


  /* FONTS */
  --font-lex: "lex", "sans-serif";
  --font-promt: "prompt", "sans-serif";
  --font-kode: "kode", "sans-serif";
  --font-ave: "ave", "sans-serif";
  --font-red-hat: 'red-hat', "sans-serif";

   /* cubic-bezier(.44,.32,.13,.75); */

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 100;
      transform: translateY(0px);
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  @keyframes float {
    from {
      transform: translateY(12px);
    }
    to {
      transform: translateY(-12px);
    }
  }
  @keyframes stagger {
    0% {
      opacity: 0;
      transform: translatex(-100%);
    }
    100% {
      opacity: 100;
      transform: translateY(0);
    }
  }

  @keyframes pulse-shadow {
    0% {
      filter: drop-shadow(0 0 0px green);
    }
    50% {
      filter: drop-shadow(0 0 10px green);
    }
    100% {
      filter: drop-shadow(0 0 0px green);
    }
  }

  @keyframes background-move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  @keyframes border-pulse {
    0% {
      border-color: rgba(255, 255, 255, 0);
    }
    100 % {
      border-color: rgba(255, 255, 255, 1);
    }
  }
   @keyframes border-pulse-dark {
    0% {
      border-color: rgba(0, 0, 0, 0);
    }
    100 % {
      border-color: rgba(0, 0, 0, 1);
    }
  }

  @keyframes shake {
    0% {
      transform: skewX(-15deg);
    }
    5% {
      transform: skewX(15deg);
    }
    10% {
      transform: skewX(-15deg);
    }
    15% {
      transform: skewX(15deg);
    }
    20% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(0deg);
    }
  }
}

/* .pulse-glow {
  animation: pulseShadow 2s infinite ease-in-out;
  transition: filter 0.3s;
} */



.fade-out {
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-900);
    pointer-events: none;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: var(--animate-fade-out);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* OMNI */
html, body, #app {
  height: 100%;
  width: 100%;
}

/* FONT FACE */
@font-face {
  font-family: lex;
  src: url('./assets/fonts/LexendDeca-Regular.ttf');
}

@font-face {
  font-family: prompt;
  src: url('./assets/fonts/prompt.woff2');
}

@font-face {
  font-family: kode;
  src: url('./assets/fonts/KodeMono-Regular.ttf');
}

@font-face {
  font-family: ave;
  src: url('./assets/fonts/ave.woff2');
}
@font-face {
  font-family: ave;
  src: url('./assets/fonts/ave.woff2');
}
@font-face {
  font-family: red-hat;
  src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

/* OVERIDES */
.my-carousel-progress {
  background: color-mix(in oklab, var(--color-white-dull) 50%, transparent );
}

.my-carousel-progress-bar {
  height: 4px;
  transition: width 400ms ease;
  width: 0;
}

.splide__track {
  overflow: visible !important;
}